{
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "proseWrap": "preserve",
  "singleAttributePerLine": false
}
